<center>
<hr>
<h2>Predict The Bay Area’s Home Prices</h2>
<hr>
</center>

* In this assignment, you will investigate the housing price dataset from Bay Area Home Sales Database and Zillow to Predict The Bay Area’s Home Prices.
* This dataset was based on the homes sold between January 2013 and December 2015.
* Please use all the techniques we have learned in the class to preprocesss/clean the dataset.
* You can drop redundant features.
<p style="color:blue"><b>final_data.csv</b></p>
* Please apply the folowing two methods to Predict The Bay Area’s Home Prices.

<h3>Method 1: Multiple Linear Regression</h3>
* Bulding the optimal model using Automatic implementations of Backward Elimination
```
def backwardElimination(x, sl):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(y, x).fit()
        maxVar = max(regressor_OLS.pvalues)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j] == maxVar):
                    x = np.delete(x, j, 1)
    regressor_OLS.summary()
    return x
```
* Split the dataset into training sets and test sets
* Fit LinearRegression to the training sets 
* Print the Linear Regression R squared score on the test sets
* Print the Linear Regression RMSE score between on the test sets

<h3>Method 2: Least Absolute Shrinkage and Selection Operator(Lasso)</h3>
* Split the dataset into training sets and test sets
* Fit Lasso to the training sets. 
* Print the Lasso R squared score on the test sets
* Print the Lasso RMSE score between on the test sets

## 1. Import dataset "final_data.csv" in pandas (5 points)

In [ ]:
import pandas as pd
dataset = pd.read_csv("final_data.csv")
print(dataset.head())

   Unnamed: 0                             address  \
0           2  Address: 1160 Mission Street #2007
1           5       Address: 260 King Street #475
2           7     Address: 560 Missouri Street #B
3           9        Address: 350 Missouri Street
4          11         Address: 3658 Folsom Street

                                                info  \
0   San FranciscoSales price: 1300000Sales date: ...
1   San FranciscoSales price: 750000Sales date: 0...
2   San FranciscoSales price: 1495000Sales date: ...
3   San FranciscoSales price: 2700000Sales date: ...
4   San FranciscoSales price: 1530000Sales date: ...

                   z_address  bathrooms  bedrooms  finishedsqft lastsolddate  \
0  1160 Mission St UNIT 2007        2.0       2.0        1043.0   02/17/2016
1       260 King St UNIT 475        1.0       1.0         903.0   02/17/2016
2        560 Missouri St # B        4.0       3.0        1425.0   02/17/2016
3            350 Missouri St        3.0       3.0        2231.0   02/17/2016
4             3658 Folsom St        3.0       3.0        1300.0   02/17/2016

   lastsoldprice   latitude   longitude     neighborhood  totalrooms  \
0      1300000.0  37.778705 -122.412635  South of Market         4.0
1       750000.0  37.777641 -122.393417  South of Market         3.0
2      1495000.0  37.759198 -122.396516     Potrero Hill         6.0
3      2700000.0  37.761886 -122.396769     Potrero Hill        10.0
4      1530000.0  37.740795 -122.413453   Bernal Heights         4.0

        usecode  yearbuilt  zestimate zindexvalue  zipcode        zpid
0   Condominium     2007.0  1167508.0     975,700  94103.0  83152781.0
1   Condominium     2004.0   823719.0     975,700  94107.0  69819817.0
2   Condominium     2003.0  1708594.0   1,277,600  94107.0  64972847.0
3  SingleFamily     1927.0  2411236.0   1,277,600  94107.0  15149489.0
4  SingleFamily     1900.0  1918539.0   1,248,000  94110.0  15161978.0

## 2. Preprocess/Clean the Dataset

In [ ]:
count=0
for i in range(dataset.shape[1]):
    count=count+sum(dataset.iloc[:,i].isnull())
    #print ('Number of null values in',dataset.columns.values[i],'column is',count)
print("Number of Null values in the dataset is" , count)
print("shape of dataset is",dataset.shape)

Number of Null values in the dataset is 0
shape of dataset is (11330, 19)

In [ ]:
#dataset.dtypes
dataset["lastsolddate"]=pd.to_datetime(dataset["lastsolddate"])

dataset['lastSoldYearMonth'] = dataset['lastsolddate'].map(lambda x: 100*x.year + x.month)
#dataset['last_sold_year'] = dataset.lastsolddate.dt.year


dataset['Lot size']=dataset['info'].map(lambda x: x.split(":")[-1])       #getting lot size from info
dataset['Lot size']=pd.to_numeric(dataset['Lot size'])
#dataset['Lot size']=dataset['Lot size'].astype(str).astype(int)         #converting to type int
print(dataset['Lot size'].nunique())  


#dataset['info'] = dataset['info'].astype(str)
#dataset.info.apply(str)
#print(list(dataset['info'][0].split(":"))[-1])
#print(len(dataset))

#for i in range(len(dataset)):
#    dataset.loc[i,'Lot size']=list(dataset['info'][i].split(":"))[-1]
#dataset['Lot size']=pd.Series(list(dataset.loc[:,'info'].str.split(":"))[-1])
#dataset['Lot size']=list(dataset.loc[:,'info'].str.split(":"))[-1]
#print(dataset.head(3))
dataset.dtypes

2558

Unnamed: 0                    int64
address                      object
info                         object
z_address                    object
bathrooms                   float64
bedrooms                    float64
finishedsqft                float64
lastsolddate         datetime64[ns]
lastsoldprice               float64
latitude                    float64
longitude                   float64
neighborhood                 object
totalrooms                  float64
usecode                      object
yearbuilt                   float64
zestimate                   float64
zindexvalue                  object
zipcode                     float64
zpid                        float64
lastSoldYearMonth             int64
Lot size                      int64
dtype: object

In [ ]:
print(dataset.neighborhood.nunique())              #no of diff values in column neighborhood is 71

from sklearn.preprocessing import LabelEncoder              #So lets use this column values by encoding
lblEncoder = LabelEncoder()
dataset['neighborhood']=lblEncoder.fit_transform(dataset['neighborhood'])

71

In [ ]:
print(dataset.usecode.nunique())                  #no of diff values in column usecode is 10

from sklearn.preprocessing import LabelEncoder              #So lets use this column values by encoding
lblEncoder = LabelEncoder()
dataset['usecode']=lblEncoder.fit_transform(dataset['usecode'])

10

In [ ]:
#dataset['zindexvalue']=dataset['zindexvalue'].map(lambda x: x)      
#removing ',' in zindecvalue
dataset["zindexvalue"] = dataset["zindexvalue"].str.replace(',','')
dataset["zindexvalue"] = pd.to_numeric(dataset["zindexvalue"])


print(dataset.head(3))

dataset.dtypes

   Unnamed: 0                             address  \
0           2  Address: 1160 Mission Street #2007
1           5       Address: 260 King Street #475
2           7     Address: 560 Missouri Street #B

                                                info  \
0   San FranciscoSales price: 1300000Sales date: ...
1   San FranciscoSales price: 750000Sales date: 0...
2   San FranciscoSales price: 1495000Sales date: ...

                   z_address  bathrooms  bedrooms  finishedsqft lastsolddate  \
0  1160 Mission St UNIT 2007        2.0       2.0        1043.0   2016-02-17
1       260 King St UNIT 475        1.0       1.0         903.0   2016-02-17
2        560 Missouri St # B        4.0       3.0        1425.0   2016-02-17

   lastsoldprice   latitude    ...     neighborhood  totalrooms  usecode  \
0      1300000.0  37.778705    ...               59         4.0        1
1       750000.0  37.777641    ...               59         3.0        1
2      1495000.0  37.759198    ...               53         6.0        1

   yearbuilt  zestimate  zindexvalue  zipcode        zpid  lastSoldYearMonth  \
0     2007.0  1167508.0       975700  94103.0  83152781.0             201602
1     2004.0   823719.0       975700  94107.0  69819817.0             201602
2     2003.0  1708594.0      1277600  94107.0  64972847.0             201602

   Lot size
0     43557
1    213232
2      2496

[3 rows x 21 columns]

Unnamed: 0                    int64
address                      object
info                         object
z_address                    object
bathrooms                   float64
bedrooms                    float64
finishedsqft                float64
lastsolddate         datetime64[ns]
lastsoldprice               float64
latitude                    float64
longitude                   float64
neighborhood                  int64
totalrooms                  float64
usecode                       int64
yearbuilt                   float64
zestimate                   float64
zindexvalue                   int64
zipcode                     float64
zpid                        float64
lastSoldYearMonth             int64
Lot size                      int64
dtype: object

In [ ]:
X=dataset.drop(['address', 'info', 'z_address','Unnamed: 0' ,'lastsolddate' ], axis=1)

print("hi")

print(X.head(3))

hi
   bathrooms  bedrooms  finishedsqft  lastsoldprice   latitude   longitude  \
0        2.0       2.0        1043.0      1300000.0  37.778705 -122.412635
1        1.0       1.0         903.0       750000.0  37.777641 -122.393417
2        4.0       3.0        1425.0      1495000.0  37.759198 -122.396516

   neighborhood  totalrooms  usecode  yearbuilt  zestimate  zindexvalue  \
0            59         4.0        1     2007.0  1167508.0       975700
1            59         3.0        1     2004.0   823719.0       975700
2            53         6.0        1     2003.0  1708594.0      1277600

   zipcode        zpid  lastSoldYearMonth  Lot size
0  94103.0  83152781.0             201602     43557
1  94107.0  69819817.0             201602    213232
2  94107.0  64972847.0             201602      2496

In [ ]:
X = X.drop('lastsoldprice', axis=1)
y = dataset['lastsoldprice']

print(X.head(3))

X.dtypes

   bathrooms  bedrooms  finishedsqft   latitude   longitude  neighborhood  \
0        2.0       2.0        1043.0  37.778705 -122.412635            59
1        1.0       1.0         903.0  37.777641 -122.393417            59
2        4.0       3.0        1425.0  37.759198 -122.396516            53

   totalrooms  usecode  yearbuilt  zestimate  zindexvalue  zipcode  \
0         4.0        1     2007.0  1167508.0       975700  94103.0
1         3.0        1     2004.0   823719.0       975700  94107.0
2         6.0        1     2003.0  1708594.0      1277600  94107.0

         zpid  lastSoldYearMonth  Lot size
0  83152781.0             201602     43557
1  69819817.0             201602    213232
2  64972847.0             201602      2496

bathrooms            float64
bedrooms             float64
finishedsqft         float64
latitude             float64
longitude            float64
neighborhood           int64
totalrooms           float64
usecode                int64
yearbuilt            float64
zestimate            float64
zindexvalue            int64
zipcode              float64
zpid                 float64
lastSoldYearMonth      int64
Lot size               int64
dtype: object

## 3. Method 1: Multiple Linear Regression (30 points)

In [ ]:
import statsmodels.api as sm
import numpy as np
def backwardElimination(x,y, sl):
  numVars = len(x[0])
  for i in range(0, numVars):
      regressor_OLS = sm.OLS(y, x.astype(float)).fit()
      maxVar = max(regressor_OLS.pvalues)
      if maxVar > sl:
          for j in range(0, numVars - i):
              if (regressor_OLS.pvalues[j] == maxVar):
                  x = np.delete(x, j, 1)
  print(regressor_OLS.summary())
  return x
train_X = backwardElimination(X.values,y,sl = 0.06)

                            OLS Regression Results
==============================================================================
Dep. Variable:          lastsoldprice   R-squared:                       0.919
Model:                            OLS   Adj. R-squared:                  0.919
Method:                 Least Squares   F-statistic:                 1.429e+04
Date:                Sun, 03 Mar 2019   Prob (F-statistic):               0.00
Time:                        10:55:50   Log-Likelihood:            -1.6395e+05
No. Observations:               11330   AIC:                         3.279e+05
Df Residuals:                   11321   BIC:                         3.280e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           6.47e+04   7054.271      9.172      0.000    5.09e+04    7.85e+04
x2         -4.222e+04   5664.581     -7.454      0.000   -5.33e+04   -3.11e+04
x3           -60.5215      9.339     -6.481      0.000     -78.827     -42.216
x4          5929.6317   1565.886      3.787      0.000    2860.223    8999.041
x5          -519.2460    139.799     -3.714      0.000    -793.277    -245.215
x6             0.7691      0.006    123.120      0.000       0.757       0.781
x7            -0.0215      0.009     -2.322      0.020      -0.040      -0.003
x8         -2473.2057     62.607    -39.503      0.000   -2595.927   -2350.485
x9          1161.5383     29.211     39.764      0.000    1104.280    1218.797
==============================================================================
Omnibus:                    10124.320   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3829339.363
Skew:                           3.425   Prob(JB):                         0.00
Kurtosis:                      92.803   Cond. No.                     4.29e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.29e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_X, y, test_size = 3)

# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
model_regressor = LinearRegression()
model_regressor.fit(X_train, y_train)

# Predicting the Test set results
#We can compare y_pred and y_test to find its accuracy
ypred = model_regressor.predict(X_test)

from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

rmse = sqrt(mean_squared_error(y_test, ypred))
print("RMSE is:",rmse)

r2=r2_score(y_test, ypred)
print("r2 score:",r2)

RMSE is: 305241.53733734746
r2 score: 0.9186286865639133

## 4. Method 2: Least Absolute Shrinkage and Selection Operator(Lasso) (30 points)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)


from sklearn import linear_model
model_lasso = linear_model.Lasso(alpha=0.2)
#model_lasso = linear_model.Lasso()

model_lasso.fit(X_train,y_train)

ypred2=model_lasso.predict(X_test)

from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

rmse2 = sqrt(mean_squared_error(y_test, ypred2))
print("RMSE is:",rmse2)

r22=r2_score(y_test, ypred2)
print("r2 score:",r22)

RMSE is: 461418.3343116447
r2 score: 0.7594900084273053

**5. Method 3: Decision Tree (15 points)**

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state = 17)
model.fit(X_train,y_train)
target = model.predict(X_test)
DT_r2= r2_score(target,y_test)
DT_rmse = np.sqrt(mean_squared_error(target,y_test))
print("RMS: ",DT_rmse)
print("r2 score: ",DT_r2)

RMS:  505288.16355744563
r2 score:  0.7222667486444525

**6. Method 4: Random Forest (15 points)**

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state = 17)
model.fit(X_train,y_train)
target = model.predict(X_test)
RF_r2= r2_score(target,y_test)
RF_rmse = np.sqrt(mean_squared_error(target,y_test))
print("RMS: ",RF_rmse)
print("r2 score: ",RF_r2)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RMS:  396494.77468316146
r2 score:  0.8016115214295947

## 7. Test Data Set Prediction Results Comparison Table of Method 1 and Method 2 (10 points
* Please fill in your results to the following table

<table>
<thead>
    <tr>
    <th colspan="3">Predict The Bay Area’s Home Prices</th>
    </tr>
    <tr>
    <th> </th>
    <th>Multiple Linear Regression</th>
    <th>Lasso</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th>R Squared Score</th>
        <td> null </td>
        <td> null </td>
    </tr>
     <tr>
         <th>RMSE</th>
        <td> null </td>
        <td> null </td>
    </tr>
</tbody>
</table>

In [ ]:
from tabulate import tabulate
print(tabulate([['R squared Score', r2,r22,DT_r2,RF_r2], ['RMSE', rmse,rmse2,DT_rmse,RF_rmse]], headers=['Multiple Linear Regression', 'Lasso','Decision Tree','Random Forest']))

                   Multiple Linear Regression         Lasso    Decision Tree    Random Forest
---------------  ----------------------------  ------------  ---------------  ---------------
R squared Score                      0.918629       0.75949         0.722267         0.801612
RMSE                            305242         461418          505288           396495